.heading{
    margin:0px;
    width:100%;
    font-size:23px;
}
.note{
    color:black;
    font-size:13px;
}
body{
    background-size: cover;
}
canvas{
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    margin:20px;
}